@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

  overflow-x: hidden !important;

}

html {
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 60%;
  }
}

.wave {
  background: url('../../public/wave2.png') repeat-x;
  position: absolute;
  width: 6400px;
  top: -50px;
  left: 0;
  height: 300px;
  transform: translate(0, 0, 0);
  animation: waveleft 4s ease infinite;
  opacity: 0.5;
  z-index: 1;
}

.wave2 {
  background: url('../../public/wave2.png') repeat-x;
  position: absolute;
  width: 6400px;
  top: -20px;
  left: 0;
  height: 208px;
  transform: translate(0, 0, 0);
  z-index: 2;
  animation: waveright 4s ease infinite;
  opacity: 1;
}

.wave3 {
  background: url('../../public/wave3.png');
  position: absolute;
  width: 6400px;
  top: 20px;
  left: 0;
  height: 300px;
  z-index: 3;
  margin-right: 500px;
  animation: swell 4s ease infinite;
  opacity: 1;
}

.wave_1 {
  background: url('../../public/wave2.png') repeat-x;
  position: absolute;
  width: 6400px;
  top: -100px;
  left: 0;
  height: 300px;
  transform: translate(0, 0, 0);
  animation: waveleft 4s ease infinite;
  opacity: 0.5;
  z-index: 1;
}

.wave_2 {
  background: url('../../public/wave2.png') repeat-x;
  position: absolute;
  width: 6400px;
  top: 10px;
  left: 0;
  height: 208px;
  transform: translate(0, 0, 0);
  z-index: 2;
  animation: waveright 4s ease infinite;
  opacity: 1;
}

@keyframes waveleft {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -2000px;
  }
}

@keyframes waveright {
  0% {
    margin-left: -2000px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate(0, -30px);
  }

  50% {
    transform: translate(0, 5px);
  }

}